@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "CheckBoxes";
    var games = "";
}

@section banner
{
    <h1>CheckBoxes</h1>
}

@if (IsPost)
{
    //we can delay obatining the incoming data until there is a post back
    games = Request.Form["gamegroup"];
    var thebutton = Request.Form["formbutton"];
    if (thebutton.Equals("clear"))
    {
        games = "";
    }
    else
    {
        //validation
        if (string.IsNullOrEmpty(games))
        {
            games = "";
            <p><span style="color:firebrick"><strong>
                 Oh, you don't like playing games??</strong></span></p>
        }
        else
        {
            //the values that come in all the selected checkboxes 
            // come in as a CSV (comma seperated values) string 

            //to seperate out the values in the string we will use
            // the string method . Split(delimiter)
            // for this example the delimter is a character comma ',' 

            // the result of the split will be an Array of strings Array[]
            <p>I see you like to use the following platforms:
                <ul>
                    @foreach(var platform in games.Split(','))
                    {
                        <li>@platform</li>
                    }

                </ul>            
            </p>
        }
    }
}
<form id="theform" method="post">
    <div class="row">
        <div class="col-md-offset-1">
            <label for="gamegroup">Select your favourite gaming platform.</label><br />
            <input type="checkbox" id="gamegroup" name="gamegroup" value="PS4"
                   @(Array.IndexOf(games.Split(','),"PS4") >= 0 ? "checked" : "")/>&nbsp;&nbsp;Playstation 4<br />
            <input type="checkbox" id="gamegroup" name="gamegroup" value="PC"
                    @(Array.IndexOf(games.Split(','),"PC") >= 0 ? "checked" : "") />&nbsp;&nbsp;PC<br />
            <input type="checkbox" id="gamegroup" name="gamegroup" value="Switch"
                    @(Array.IndexOf(games.Split(','),"Switch") >= 0 ? "checked" : "")/>&nbsp;&nbsp;Switch<br />
            <input type="checkbox" id="gamegroup" name="gamegroup" value="Xboxone"
                    @(Array.IndexOf(games.Split(','),"XboxOne") >= 0 ? "checked" : "")/>&nbsp;&nbsp;Xbox One<br />
            <input type="checkbox" id="gamegroup" name="gamegroup" value="Cell"
                    @(Array.IndexOf(games.Split(','),"Cell") >= 0 ? "checked" : "")/>&nbsp;&nbsp;Cell<br /><br />
   
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1">
            <button type="submit" id="formbutton" name="formbutton" value="submit" class="btn"> Submit</button>&nbsp;&nbsp;
            <button type="submit" id="formbutton" name="formbutton" value="clear" class="btn"> Clear</button>
        </div>
    </div>
</form>



@section footer{
    &copy; CPSC1517 Nait 2019, all rights reserved
}