@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "RadioButtons";
    var language = Request.Form["languagegroup"];
    var script = Request.Form["scriptgroup"];
    // the first time through language and script will be null
    // this will cause a problem on the check for radio button
    // test that retains the radiobutton selection
    // to fix the problem assign a empty string to the variable 
    if(string.IsNullOrEmpty(language))
    {
        language = "";
    }
    if (string.IsNullOrEmpty(script))
    {
        script = "";
    }
}

@section banner
{
    <h1>RadioButtons</h1>
}

@if (IsPost)
{
    //demonstration validation is possible
    if (string.IsNullOrEmpty(language) || string.IsNullOrEmpty(script))
    {
        <p><span style="color:firebrick"><strong> Choose from both language and scripting</strong></span></p>
    }
    else
    {
        if (language.Equals("C#"))
        {
            <p>You will greatly enjoy CPSC1517 because we use C#.</p>
        }
        else
        {
            <p>C# NUMBA 1, USE OR LOSE!!</p>
        }
        if (script.Equals("Razor"))
        {
            <p>You will greatly enjoy CPSC1517 because we use Razor.</p>
        }
        else
        {
            <p>RAZOR NUMBA 1, USE OR LOSE!!</p>
        }
    }
}



<form id="theform" method="post">
    <div class="row">
        <div class="col-md-offset-1">
            <label for="languagegroup">Select your Favourite programming language.</label><br />
            <input type="radio" id="languagegroup" name="languagegroup" value="C#" 
                   checked ="@(language.Equals("C#")? true : false)"/>&nbsp;&nbsp;C#<br />
            <input type="radio" id="languagegroup" name="languagegroup" value="VB"
                   checked ="@(language.Equals("VB")? true : false)"/>&nbsp;&nbsp;Visual Basic<br />
            <input type="radio" id="languagegroup" name="languagegroup" value="Cobol" 
                   checked ="@(language.Equals("Cobol")? true : false)"/>&nbsp;&nbsp;Cobol<br />
            <input type="radio" id="languagegroup" name="languagegroup" value="Fortran" 
                   checked ="@(language.Equals("Fortran")? true : false)"/>&nbsp;&nbsp;Fortran<br />
            <input type="radio" id="languagegroup" name="languagegroup" value="Pascal" 
                   checked ="@(language.Equals("Pascal")? true : false)"/>&nbsp;&nbsp;Pascal<br /><br />
            <label for="scriptgroup">Select your favourite scripting code.</label> <br />
            <input type="radio" id="scriptgroup" name="scriptgroup" value="JS" 
                   checked ="@(script.Equals("JS")? true : false)"/>&nbsp;&nbsp;Javascript<br />
            <input type="radio" id="scriptgroup" name="scriptgroup" value="Razor" 
                   checked ="@(script.Equals("Razor")? true : false)"/>&nbsp;&nbsp;Razor<br />
            <input type="radio" id="scriptgroup" name="scriptgroup" value="PHP" 
                   checked ="@(script.Equals("PHP")? true : false)"/>&nbsp;&nbsp;PHP<br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1">
            <button type="submit" id="formbutton" name="formbutton" value="submit" class="btn"> submit</button>
        </div>
    </div>
</form>




@section footer{
    &copy; CPSC1517 Nait 2019, all rights reserved
}