@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "WebGrid";

    //access the argument label from the sending page using .QueryString["xxx"]
    //QueryString returns either null (if argument did not exists) or
    //   a string value
    var categoryid = Request.QueryString["cid"];

    //check that a value was passed
    if (string.IsNullOrEmpty(categoryid))
    {
        Response.Redirect("MultiRecordQuery.cshtml");
    }

    //query the database using the passed value
    var db = Database.Open("NWDB");
    var scalarcommand = "SELECT CategoryName "
                        + "FROM Categories "
                        + "WHERE CategoryID = @0";
    //QueryValue returns a single value (not a record) from the  query
    //this value will be used in titling the WebGrid display
    var categoryname = db.QueryValue(scalarcommand, categoryid);

    var querycommand = "SELECT ProductID, ProductName, UnitPrice, UnitsInStock, Discontinued, GetDate() DATE "
                        + "FROM Products "
                        + "WHERE CategoryID = @0 "
                        + "ORDER BY 2";
    var results = db.Query(querycommand, categoryid);

    //create an instance of WebGrid
    //notice the collection is passed at the time of instantiation
    //you can set the number of lines per page using rowsPerPage=n
    var gridinstance = new WebGrid(results);

}
@section banner{
    <h1>DataBase: WebGrid Query</h1>
}

<div class="row">
    <div class="col-md-12">
        <span style="font-size:x-large"><strong>Products for @categoryname</strong></span>
        <!--Display the WebGrid instance in its custom display-->
        <!--default is xxxx.GetHtml() -->
        @gridinstance.GetHtml(
       tableStyle: "table table-bordered table-striped table-hover",
       mode: WebGridPagerModes.All,
       firstText: "Start", 
       lastText: "End",
       columns: gridinstance.Columns(
           gridinstance.Column(columnName: "ProductID", header: "ID"),
           gridinstance.Column(columnName: "ProductName", header: "Product"),
           gridinstance.Column(columnName: "UnitPrice", header: "$",
                format: (item) => item.UnitPrice.ToString("0.00")),
           gridinstance.Column(columnName: "Date", canSort:false, 
                format: (item) => item.Date.ToString("MMM dd, yyyy")),
           gridinstance.Column(columnName: "Discontinued", header: "Disc", canSort:false, 
                format: @<input name="Discontinued" id="Discontinued" type="checkbox" 
                           value="@item.Discontinued" disabled ="disabled"
                           @(item.Discontinued == true ? "checked" : null )/>),
           gridinstance.Column(header: "", 
                format: @<text>
                        <a href="~/DBPages/WebGridDestination?pid=@item.ProductID"
                           onclick="return confirm('Are you sure you wish to view @item.ProductName?')">View</a>
                        </text>)
           
           ))
    </div>
</div>

@section footer{
    &copy; CPSC1517 Nait 2019, all rights reserved
}

